* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 100%;
  border: 2px solid black;
}

/* SLIDESHOW CONTAINER */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* HIDE IMAGES BY DEFAULT */
.mySlides {
  display: none;
}

/* NEXT AND PREVIOUS BUTTONS */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 0px; /* -22px in sample code */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 8px 8px 0;
  user-select: none; /* text cannot be selected*/
}

/* position the next button to the rigth*/
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}

/* on hover add background*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.3);
}

/*CAPTION AND NUMBER TEXT*/
/* Caption Text */
.captionText {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text */
.numberText {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
}

/* DOTS SELECTORS/INDICATORS */
.dots-container {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* FADING ANIMATION */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1;}
}